### PHPStorm project files
.idea

### Windows thumbnail cache
Thumbs.db

### Mac DS_Store Files
.DS_Store

### NPM modules, NPM debug log
node_modules
npm-debug.log

### Dumps
dumps/*
!dumps/.gitkeep
